*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'helvetica neue';
}

html,body{
    height:100%;
    width:100%;
}

main{
    height:100%;
    width:100%;
    background-color:black;
    display:grid;
    grid-template-columns: 22% 23% 7% 23% 25%;
    grid-template-rows: 25% 26% 13% 15% 21%;

    grid-template-areas:
    "left-top top-center1 top-center1 top-center2 right-top"
    "left-top center center center right-top"
    "left-bottom center center center right-top"
    "left-bottom center center center right-bottom"
    "left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom" 
    ;
}

.left-top{
    background-color: burlywood;
    grid-area:left-top;
    border:1px solid white;
    border-radius:20px;
}

.left-bottom{
    background-color: rgb(200, 131, 40);
    grid-area: left-bottom;
    border:1px solid white;
    border-radius:20px;
}

.top-center1{
    background-color: rgb(63, 95, 153);
    grid-area:top-center1;
    border:1px solid white;
    border-radius:20px;
}

.top-center2{
    background-color: rgb(234, 140, 17);
    grid-area:top-center2;
    border:1px solid white;
    border-radius:20px;
}

/* .center{
    background-color: rgb(87, 48, 178);
    grid-area:center;
    border:1px solid white;
    border-radius:20px;
    position: relative;
} */

.bottom-center1{
    background-color: rgb(230, 221, 209);
    grid-area:bottom-center1;
    border:1px solid white;
    border-radius:20px;
}
.bottom-center2{
    background-color: rgb(255, 233, 233);
    grid-area: bottom-center2;
    border:1px solid white;
    border-radius:20px;
}

.center{
    background-color: #ffdede;
    grid-area:center;
    border:1px solid white;
    border-radius:20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.right-top{
    background-color: burlywood;
    grid-area:right-top;
    border:1px solid white;
    border-radius:20px;
}

.right-bottom{
    background-color: rgb(186, 52, 173);
    grid-area:right-bottom;
    border:1px solid white;
    border-radius: 20px;
}

.circle{
    height:100%;
    width:55%;
    background: radial-gradient(rgb(239, 216, 219) , rgb(238, 139, 155));
    border-radius: 50%;
    transform:translate(-10px);
    /* margin:auto; */
    /* position:absolute; */
}

.center img{
    position:absolute;
    bottom:0;
    height:450px;
    /* width:800px; */

}

.bottom-center2-div1{
    padding:17px;
}

.bottom-center2-div1 h3{
    font-size:20px;
    /* margin-bottom:8px; */
}

.bottom-center2-div1 p{
    font-size:15px;
    line-height: 2.5;
    color:rgb(84, 82, 82);
}

.bottom-center2-div1 button{
    padding:10px 20px;
    font-size:15px;
    background-color: rgb(19, 18, 19);
    color:white;
    border:none;
    border-radius:20px;
}